body {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  background: $light-gray;
  letter-spacing: -0.01em;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  padding: 40px 30px;
  margin-left: 20%;
  margin-right: auto;
}

///////////////////////////////

// Border-radius
@mixin border-b {
  border-radius: 30px;
}
@mixin border-l {
  border-radius: 10px;
}
@mixin border-s {
  border-radius: 8px;
}
@mixin border-m {
  border-radius: 4px;
}

// Buttons
.btn {
  padding: 12px;
  font-size: 32px;
  cursor: pointer;
  transition: all 0.4s;
  &:hover {
    opacity: 0.8;
  }
}

// Types buttons
.btn-norm {
  @include border-m;
  padding: 3px 13px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  max-width: 80px;
  width: 100%;
}
.btn-small,
.pagination a {
  @include border-m;
  width: 26px;
  height: 24px;
  padding: 4px 0;
  text-align: center;
  font-size: 12px;
  color: $dark;
  color: $dark;
  background: $bg-gray;
  border: 1px solid $very-light-gray;
  transition: all 0.4s;
  &:hover {
    color: $white;
    background: $violet;
    border: 1px solid $violet;
    a {
      color: $white;
    }
  }
  &.active {
    color: $white;
    background: $violet;
    border: 1px solid $violet;
    a {
      color: $white;
    }
  }
}

.b-active {
  color: $green;
  background: rgba($green, 0.38);
  border: 1px solid $green;
}
.b-inactive {
  color: $red;
  background: $light-red;
  border: 1px solid $red;
}
