@media (min-width: 480px) {
  .sidebar__folder {
    flex-direction: row;
  }
}
@media (max-width: 480px) {
  .sidebar__folder {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .wrapper {
    display: table;
  }
  .side-foldr,
  .sidebar {
    min-width: 306px;
  }
  .side-foldr {
    display: table-cell;
  }
  .sidebar {
    position: fixed;
    padding: 35px 28px 75px;
  }
  .container {
    display: table-cell;
    padding: 40px 30px;
  }
  .sidebar__folder {
    flex-direction: column;
  }
  .top-folder {
    padding: 32px 35px 0;
  }
  .holder-table {
    padding: 22px 35px 0;
  }
  .customer-info {
    margin-bottom: 75px;
  }
  table {
    td,
    th {
      padding: 20px 0;
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    padding: 20px;
  }
  .bottom-folder {
    flex-direction: column;
    padding: 20px;
  }
  .data-info {
    margin-bottom: 15px;
  }
  .container {
    padding: 20px;
  }
  .top-folder,
  .holder-table {
    padding: 20px 20px 0;
  }
  .customer-info {
    margin-bottom: 20px;
  }
  table {
    td,
    th {
      padding: 8px 0;
    }
  }
}

@media (min-width: 1024px) {
  form {
    width: 216px;
  }
  table {
    th {
      text-align: left;
    }
  }
  table tr th:last-child,
  table tr td:last-child {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    padding: 20px 20px 35px;
    h2 {
      font-size: 20px;
      line-height: 33px;
      letter-spacing: normal;
    }
    .number-version {
      right: 15px;
    }
  }

  .top-folder {
    flex-direction: column;
  }
  .bottom-folder {
    padding: 20px;
  }

  // Table
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  thead {
    border: none;
    overflow: hidden;
    position: absolute;
    width: 1px;
    tr {
      text-align: left;
      th {
        display: none;
      }
    }
  }
  td {
    text-align: right;
    position: relative;
    &::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}

@media (max-width: 1440px) {
}
