// Colors

$light-dark: #e2ecf9;
$dark: #404b52;
$black: #000000;
$white: #ffffff;

$light-green: #16c098;
$green: #008767;

$violet: #5932ea;

$very-light-gray: #eeeeee;
$light-gray: #fafbff;
$light-gray2: #f9fbff;
$light-gray3: #b5b7c0;
$gray: #9197b3;
$second-gray: #7e7e7e;
$small-text-gray: #838383;
$color-gray: #757575;
$bg-gray: #f5f5f5;

$light-red: #ffc5c5;
$red: #df0404;
