@import "media";
@import "libs";
@import "vars";
@import "global";

///////////////////////

// Sidebar__title
.sidebar {
  display: table-cell;
  height: 100%;
  width: 20%;
  background: $white;
  box-shadow: 0px 10px 60px rgba($light-dark, 50%);
  z-index: 2;
  &__title {
    width: 100%;
    max-width: 246px;
    display: flex;
    align-items: center;
    padding-right: 5px;
    position: relative;
    margin-bottom: 50px;
    h2 {
      margin-left: 8px;
      font-size: 26px;
      line-height: 39px;
      letter-spacing: 0.2px;
    }
    .number-version {
      font-size: 10px;
      font-weight: 500;
      line-height: 15px;
      color: $small-text-gray;
      position: absolute;
      bottom: 5px;
      right: 30px;
    }
  }
}

.sidebar__folder {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.sidebar__nav {
  li {
    margin-bottom: 17px;
  }
  .btn {
    @include border-s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: $gray;
    padding: 12px 0px 12px 9px;
    padding-right: 14px;
    &:hover {
      color: $white;
      background: $violet;
      opacity: 1;
      svg {
        path {
          stroke: $white;
          // fill: $white;
        }
      }
    }
    div {
      display: flex;
      align-items: center;
    }
    svg {
      margin-right: 14px;
    }
  }
}

.customer-info {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  display: flex;
  img {
    width: 42px;
    height: 42px;
    margin-right: 12px;
  }
  p {
    margin: 0;
  }
  span {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: $color-gray;
  }
}

// Folder group
.folder {
  @include border-b;
  background: $white;
  width: 100%;
  max-width: 968px;
  margin: 0 auto;
  box-shadow: 0px 10px 60px rgba($light-dark, 50%);
}

.title h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  width: 100%;
  max-width: 968px;
  margin: 0 auto 50px;
  .customers-name {
    display: inline-block;
  }
}

.top-folder {
  display: flex;
  justify-content: space-between;
}
.customers {
  h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    margin-bottom: 7px;
  }
  .members {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: $light-green;
  }
}
.search-container {
  form {
    margin-top: 14px;
    @include border-l;
    display: flex;
    align-items: center;
    background: $light-gray2;
    overflow: hidden;
  }
}
.btn-search {
  padding: 7px 0 7px 10px;
  border: 0;
  background: transparent;
  cursor: pointer;
  color: $second-gray;
  outline: none;
  transition: all 0.4s;
  &:hover {
    i {
      color: $black;
    }
  }
  i {
    font-size: 22px;
  }
  &:focus-visible {
    i {
      border: 1px solid $violet;
    }
  }
}
.searchTerm {
  @include border-l;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding: 10px 10px 12px;
  background: $light-gray2;
  border: 0;
  outline: none;
  &::placeholder {
    color: $light-gray3;
  }
}

// Table
.holder-table {
  position: relative;
  overflow: hidden;
}
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  font-weight: 500;
  th,
  td {
    padding: 20px 0;
  }
}
th {
  color: $light-gray3;
  font-weight: 500;
}
td {
  &::before {
    color: $light-gray3;
  }
}
thead,
tbody,
tr {
  position: relative;
  &::before,
  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid $very-light-gray;
  }
}
thead,
tbody {
  &::before {
    transform: translateX(-100px);
  }
  &::after {
    transform: translateX(100px);
  }
}

.bottom-folder {
  padding: 25px 43px 40px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .data-info {
    color: $light-gray3;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  }
  .pagination {
    display: flex;
    align-items: center;
    li {
      font-size: 12px;
      border: 0;
      margin: 0 6px;
      padding: 0;
      &:first-child {
        padding: 0;
      }
      &:last-child {
        margin: 0 0 0 7px;
        padding: 0;
      }
    }
    .dots {
      width: 10px;
      margin: 0 4px;
      color: $dark;
    }
  }
}
